.book-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .perspective {
      width: 100%;
      height: 100%;
      perspective: 800px;
      transform-style: preserve-3d;
      overflow: hidden;
    }
}

.book-wrap {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all .6s ease-in-out;
}

.book-front {
  width: 280px;
  height: 420px;
  background: url('/book-front.jpg') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}

.book-spine {
  height: 418px;
  width: 26px;
  background: url('/book-spine.jpg') no-repeat center center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  left: -280px;
  bottom: 0;
  margin: auto;
  transform: rotateY(-80deg) translateX(-10px);
}

.book-back {
  width: 280px;
  height: 420px;
  background: url('/book-back.jpg') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transform: rotate(0deg) translateZ(-30px) translateX(-5px) scaleX(-1);
}

.rotate {
  transform: rotateY(20deg);
}

.flip {
  transform: rotateY(180deg);
}

.buy-button {
  background: $action;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 14px 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 10px;
  cursor: pointer;

  h2 {
    color: $nav;
    font-size: 30px;
    font-family: $beb;
    margin: 5px 0 0;
    padding: 0;
  }

  p {
    color: $nav;
    font-size: 12px;
    margin: -4px 0 0;
    padding: 0;
  }
}