.book-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .perspective {
      width: 100%;
      height: 100%;
      perspective: 1000px;
      transform-style: preserve-3d;
      overflow: hidden;
    }
}

.book-wrap {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all .6s ease-in-out;
}

.book-front {
  width: 400px;
  height: 600px;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}

.book-spine {
  height: 600px;
  width: 30px;
  background: yellow;
  position: absolute;
  right: 0;
  left: -401px;
  bottom: 0;
  margin: auto;
  transform: rotateY(-80deg) translateX(-14px);
}

.book-back {
  width: 400px;
  height: 600px;
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transform: rotate(180deg) translateZ(-30px) translateX(5px);
}

.rotate {
  transform: rotateY(20deg);
}

.flip {
  transform: rotateY(180deg);
}

.buy-button {
  background: $action;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 15px 30px;
  border: 1px solid $light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 4px;

  h2 {
    color: $author-text;
    font-size: 30px;
    font-family: $beb;
    margin: 0;
    padding: 0;
  }

  p {
    color: $light;
    font-size: 8px;
    margin: 0;
    padding: 0;
  }
}