.contact-container {
    width: 100%;
    background: $back;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $break) {
        flex-direction: row;
    }
}

.form-container {
    width: 100%;

    @media screen and (min-width: $break) {
        width: 50%;
    }
}

.news-container {
    width: 100%;

    @media screen and (min-width: $break) {
        width: 50%;
    }

    .contact-info {
        width: 85%;
        padding: 10px 7.5%;

        h1 {
            color: $light;
            font-size: 20px;
            font-weight: 500;
        }
    }
}