.contact-form-container {
    width: 85%;
    padding: 20px 7.5% 50px;

    input {
        color: rgba(255,255,255,.8);
        border-color: rgba(255,255,255,.8);
    }

    label {
        color: rgba(255,255,255,.8);
    }

    textarea {
        color: rgba(255,255,255,.8);
    }

    
}

.thank-you {
    width: 100%;

    p {
        color: $light;
        font-size: 14px;
        font-weight: 500;
    }
}

.form-input {
    color: rgba(255,255,255,.8);
    border-color: rgba(255,255,255,.8);
}