@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

@import './vars.scss';
@import './about.scss';
@import './book.scss';
@import './contact.scss';
@import './header.scss';
@import './heading.scss';
@import './reviews.scss';
@import './the-bolter.scss';
@import './book-and-reviews.scss';
@import './contact-form.scss';
@import './newsletter.scss';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: $back;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}