@import './vars.scss';
@import './about.scss';
@import './book.scss';
@import './contact.scss';
@import './header.scss';
@import './heading.scss';
@import './reviews.scss';
@import './the-bolter.scss';
@import './the-book.scss';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: $back;
}