.the-bolters-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $back;
}

.author {
    display: block; 
}

.photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: $back;
    padding: 50px 0 0 0;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 9px solid $back;
        margin: 0 0 50px;
    }
}

.text {
    width: 80%;
    padding: 80px 10% 40px;
    margin: -120px 0 0;
    background: $light;
}

.text-paragraph {
    font-size: 14px;
    line-height: 1.3em;
    color: $author-text;
    font-weight: 400;
    text-align: center;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}