.the-bolters-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $back;
}

.author {
    display: block; 
}

.photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: $back;
    padding: 50px 0 0 0;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 9px solid $back;
        margin: 0 0 50px;
    }
}

.text {
    width: 80%;
    padding: 80px 10% 10px;
    margin: -120px 0 0;
    background: $light;
}

.text-paragraph {
    font-size: 14px;
    line-height: 1.3em;
    color: $author-text;
    font-weight: 400;
}

.author-bold {
    font-weight: 600;
}

.author-italic {
    font-style: italic;
}

.author-socials {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: $light;
    padding: 0 15% 30px;
}

.author-linked {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;

    svg {
        width: 100%;
    }
}

.author-email {
    width: 20px;
    height: 20px;

    svg {
        width: 100%;
        fill: $nav;
    }
}