.the-bolters-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $back;

    @media screen and (min-width: $break) {
        flex-direction: row;
    }
}

.author {
    display: block;
    width: 100%;

    @media screen and (min-width: $break) {
        width: 50%;
    }
}

.photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: $back;
    padding: 50px 0 0 0;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 9px solid $back;
        margin: 0 0 50px;
    }
}

.text {
    width: 80%;
    padding: 10px 10% 10px;
    margin: -110px 0 0;
    background: $light;
}

.author-name {
    color: $light;
    font-family: $beb;
    text-shadow: 1px 1px 2px $nav;
    font-size: 40px;
    margin: 14px 0 0 40px;

    span {
        font-family: sans-serif;
        font-size: 20px;
    }
}

.text-paragraph {
    font-size: 14px;
    line-height: 1.5em;
    color: $author-text;
    font-weight: 500;
    color: $nav;
    padding: 0 10px;
}

.author-bold {
    font-weight: 600;
}

.author-italic {
    font-style: italic;
}

.author-socials {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background: $light;
    padding: 0 15% 30px;

    p {
        color: $nav;
        font-size: 10px;
        font-weight: 600;
        margin: 0 0 4px;
    }
}



.author-linked {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;

    svg {
        width: 100%;
    }
}

.author-email {
    width: 20px;
    height: 20px;

    svg {
        width: 100%;
        fill: $nav;
    }
}