$title: #E7E5CE;
$nav: #141E53;
$back: #5B7FBB;
$action: #D09439;
$light-background: #FFFEFA;
$author-text: rgba(0,0,0,.75);
$light: rgba(255,255,255,.75);
$light-back: rgba(255,255,255,.5);
$beb: 'Bebas Neue', monospace;
$break: 769px;
$about-back: #fefefe;